.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
}

.footer__container {
  background-color: #cfd8dc;
}

.footer__copy {
  margin: .5rem 0;
  color: #E8550F;
  font-weight: bold;
}